<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Common.Properties.Settings>
            <setting name="DB_HOST" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DB_PORT" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="DB_USER" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DB_PASS" serializeAs="String">
                <value />
            </setting>
            <setting name="LOGO_PATH" serializeAs="String">
                <value>Earthh.png</value>
            </setting>
        </Common.Properties.Settings>
    </userSettings>
</configuration>